.back{
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  height: 46px;
}

.front{
  width: 100vw;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  height: 46px;
}