.text-translate{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #E9C46A;
  min-height: 70vh;
  min-width: 90vw;
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
  font-family: 'Inconsolata', monospace;
  font-size: 2vw;
  letter-spacing: 1vw;
  text-transform: uppercase;
  max-width: 90vw;
  padding: 10px;
  box-sizing: border-box;
}

.ready{
  min-height: 50vh;
}

.endWord{
  margin-top: 13px;
  margin-right: 10px;
}

.slash-info{
  margin: 20px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__slash{
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #2A9D8F;
}
}