.main{
  background-color: #264653;
  width: 100vw;
  min-height: 100vh;
  padding: 20px 0;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
